trigger:
  - main

pool:
  name: MyWindowsAgentPool

variables:
  solution: 'BillingWeb.sln'
  buildPlatform: 'Any CPU'
  buildConfiguration: 'Release'
  artifactName: 'drop'

steps:
# 1️⃣ Checkout source code
- checkout: self

# 2️⃣ Install NuGet tool
- task: NuGetToolInstaller@1
  displayName: 'Install NuGet'

# 3️⃣ Clear NuGet cache (optional, good for self-hosted agents)
- task: PowerShell@2
  displayName: 'Clear NuGet Cache'
  inputs:
    targetType: 'inline'
    script: |
      nuget locals all -clear

# 4️⃣ Restore NuGet packages (will include System.Data.SQLite)
- task: NuGetCommand@2
  displayName: 'Restore NuGet Packages'
  inputs:
    restoreSolution: '$(solution)'
    feedsToUse: 'select'
    includeNuGetOrg: true
    noCache: true

# 5️⃣ Build the solution using Visual Studio 2022 MSBuild
- task: VSBuild@1
  displayName: 'Build Solution'
  inputs:
    solution: '$(solution)'
    platform: '$(buildPlatform)'
    configuration: '$(buildConfiguration)'
    clean: true
    vsVersion: '17.0'           # Visual Studio 2022
    msbuildArgs: '/p:DeployOnBuild=true /p:WebPublishMethod=Package /p:PackageAsSingleFile=true /p:SkipInvalidConfigurations=true'
    maximumCpuCount: true
    restoreNugetPackages: true

# 6️⃣ Copy build outputs to Artifact Staging Directory
- task: CopyFiles@2
  displayName: 'Copy Build Artifacts'
  inputs:
    SourceFolder: '$(Build.SourcesDirectory)\bin\$(buildConfiguration)\Package'
    Contents: '**'
    TargetFolder: '$(Build.ArtifactStagingDirectory)'

# 7️⃣ Publish build artifacts
- task: PublishBuildArtifacts@1
  displayName: 'Publish Artifacts'
  inputs:
    PathtoPublish: '$(Build.ArtifactStagingDirectory)'
    ArtifactName: '$(artifactName)'
    publishLocation: 'Container'
