.master-content {

background-color:white;}
        .ft-x-small {
        font-size:x-small;
        }
        .container {
            /*width: 100%;*/
    /*padding: 0;*/
    /*font-size:x-small;*/
    /*position: absolute;
    top: 46px;
    bottom: 0px;*/
        }
        .label-default {
        background-color:#CDCCCA;
        }
        body {
            /*background-color: white !important;
    background-image: none !important;*/
        }
        .btn1 {
             -webkit-border-radius: 18px !important;
     -moz-border-radius: 18px !important;
          border-radius: 18px !important;
            background-color:#cfcbca;
                /*font-size: x-small;*/
                color:#58595b;
        }

        .container-fluid {
            /*margin-top: 11px;*/
        }


        .btn-lg {
            /*font-size: 18px;*/
            line-height: 1.33;
            border-radius: 6px;
        }

        .btn-block {
            /*color: #333333;*/
            /*background-color: #428bca;*/
            /*border-color: #357ebd;*/
        }

            .btn-block:hover,
            .btn-block:focus,
            .btn-block:active,
            .btn-block.active,
            .open .dropdown-toggle.btn-primary {
                color: #fff;
                background-color: #0B589E;
                border-color: #285e8e;
                 outline: none !important;
   box-shadow: none;
            }

        .btn-give {
            background-color: #CFCBCA;
                /*font-size: smaller;*/
                /*color:#003366;*/
        }

        .btn-feedback {
            background-color: #f68121;
                /*font-size: smaller;*/
                color:white;
        }

        .lv-header {
            background-color: #CDCBCC;
        }

        .lv-content {
            background-color: #F6F4F5;
        }

        .rounded-top {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
        .bg-header {
        background-color:#E7E6E4;
        }

        .rounded-bottom {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .rounded {
            border-radius: 15px;
            /*border-top-right-radius:8px; CCCBC9*/ 
        }

        .label-primary-color {
            color: #337ab7;
        }

        .pxy-5px {
            padding: 5px;
        }

        .px-5px {
            padding: 5px 0px;
        }
                
        .text-white {
        color:white;
        }
        .DT {
        display:table;
        }
        .VM {
        display:table-cell;
        vertical-align:middle;
        }
        .pxy-0 {
        padding:0px;
        }
        .px-10px {
        padding:0 10px;
        }
        .CP {
        cursor:pointer;
        }
        .ft-x-small {
        font-size:x-small;
        }
         .ft-small {
        font-size:small;
        }
.B {
font-weight:bold;
}
        .container {

        }
        .label-default {
        background-color:#CDCCCA;
        }
.DIB {
display
    :inline-block;
}
        .parent {
            background-color: white !important;
             margin: 0px -15px 0 -15px;
    /*background-image: none !important;*/
        }
    

        .container-fluid {
            /*margin-top: 15px;*/
        }


        .btn-lg {
            font-size: 18px;
            line-height: 1.33;
            border-radius: 6px;
        }

        .btn-block {
            color: #333333;
            /*background-color: #428bca;*/
            /*border-color: #357ebd;*/
        }

            .btn-block:hover,
            .btn-block:focus,
            .btn-block:active,
            .btn-block.active,
            .open .dropdown-toggle.btn-primary {
                color: #fff;
                background-color: #0B589E;
                border-color: #285e8e;
            }

        .btn-give {
            background-color: #CFCBCA;
                /*font-size: smaller;*/
        }

        .btn-feedback {
            background-color: #F0822B;
                /*font-size: smaller;*/
        }

        .lv-header {
            background-color: #CDCBCC;
        }

        .lv-content {
            background-color: #F6F4F5;
        }
.mxy-0 {
margin:0px;
}
.bg-white {
background-color:white;
}
.bg-transparent {
     background: url("../Images/TrasparentBK.png") no-repeat;
     background-size:cover;
}
        .rounded-top {
            border-top-left-radius: 8px;
            border-top-right-radius: 8px;
        }
.label-disabled {
    color: #afb0b0;
}
.font-weight-normal {

font-weight:normal;}
.bg-center {
background-position:center !important;
}
.text-gray {
color:gray;
}
.mxy-5 {
margin:5px;
}
.rounded-15 {
border-radius:15px;
}
        .bg-header {
        background-color:#E7E6E4;
        }

        .rounded-bottom {
            border-bottom-left-radius: 8px;
            border-bottom-right-radius: 8px;
        }

        .rounded {
            border-radius: 15px;
            /*border-top-right-radius:8px; CCCBC9*/ 
        }

        .label-primary-color {
            color: #337ab7;
        }

        .pxy-5px {
            padding: 5px;
        }
        .pxy-10px {
            padding: 10px;
        }

        .px-5px {
            padding: 5px 0px;
        }

        .giveIcon {
            background-image: url("../images/ServiceFeedback_Give.png");
            background-size: 20px 20px;
            background-repeat: no-repeat;
            height: 23px;
            width: 25px;
            /*color:#003366;*/
        }

        .feedbackIcon {
            background-image: url(../images/ServiceFeedback_View.png);
            background-size: 22px 20px;
            height: 24px;
            width: 25px;
            /*line-height: 47px;*/
            background-repeat: no-repeat;
            background-position: 2px 2px;
        }

        .mt-10 {
        margin-top:10px;
        }
        .mt-4 {
        margin-top:4px;
        }
        .px-4 {
        padding:0 4px;
        }
        .text-white {
        color:white;
        }
        .DT {
        display:table;
        }
        .VM {
        display:table-cell;
        vertical-align:middle;
        }
        .pxy-0 {
        padding:0px;
        }
        .chkRating-uncheck {
         background-image: url(../Images/rdb_select_16.png);
            height: 24px;
            width: 24px;
            /*line-height: 47px;*/
            background-repeat: no-repeat;
            /*background-position: 4px 4px;*/
        }
         .chkRating-check {
         background-image: url(../Images/p_radio_yes_select.png);
            height: 24px;
            width: 24px;
            /*line-height: 47px;*/
            background-repeat: no-repeat;
            /*background-position: 4px 4px;*/
        }
          .chkRecommend-check {
         background-image: url(../Images/p_radio_no_select.png);
            height: 24px;
            width: 24px;
            /*line-height: 47px;*/
            background-repeat: no-repeat;
            /*background-position: 4px 4px;*/
        }
          input[type=checkbox],input[type=radio] {
display:none;
}
          input[name=others] + label span {
    background:url(../Images/rdb_select_16.png) no-repeat;
    display:inline-block;
    background-size: 70%;
    width:24px;
    height:24px;
    margin:4px -51px 0 0;
    vertical-align:middle;
    cursor:pointer;
}
input[type="checkbox"]:checked + label span {
    background:url(check_radio_sheet.png) -19px top no-repeat;
}
        /*input[name=others] + label {
        
       background: url(../Images/rdb_select_16.png) no-repeat;
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    /*font-size: x-small;
        }*/
input[type=checkbox] + label 
{
background: url(../Images/rdb_select_16.png) no-repeat;
background-size: 50%;
height: 24px;
width: 37px;
display:inline-block;
    padding: 1px 0 0 0px;
    background-position: 16px 0px;
    /*font-size: x-small;*/
}
input[type=checkbox]:checked + label
{
background: url(../Images/p_radio_yes_select.png) no-repeat;
background-size: 50%;
height: 24px;
width: 37px;
display:inline-block;
    padding: 1px 0 0 0px;
    background-position: 16px 0px;
    /*font-size: x-small;*/
}
.hospitalIcon {
background: url(../Images/hospital.png) no-repeat;
}
.likeIcon {
background: url(../Images/like.png) no-repeat;
    height: 16px;
    width: 31px;
}
input[name=others][value='1']:checked + label span
{
background: url(../Images/p_radio_yes_select.png) no-repeat;
    background-size: 70%;
/*background-size: 70%;
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px -51px 0 0;
    vertical-align:middle;*/
    /*font-size: x-small;*/
}
/*input[type=radio][name=others]+ label
{
    background: url(../Images/rdb_select_16.png) no-repeat;
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px 10px 0 0;
    vertical-align:middle;
    /*font-size: x-small;
}*/
input[type=radio][name=others][value='2']:checked + label span
{
background: url(../Images/p_radio_no_select.png) no-repeat;
    background-size: 70%;
/*background-size: 70%;
    display:inline-block;
    width:24px;
    height:24px;
    margin:-2px -51px 0 0;
    vertical-align:middle;*/
    /*font-size: x-small;*/
}
        .text-center {
        text-align:center;
        }

 