/*---------------BackGround Colors-----------------*/
.Mainloginbox {
    /* background-color: #2c5f4f !important;
     background: linear-gradient(to right, rgb(0, 0, 70), rgb(28, 141, 224)) !important;*/
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(240, 230, 250, 1));
    min-height: 100vh;
}

    /*.Mainloginbox {
    min-height: 100vh;*/ /* Full screen height */
    /*width: 100vw;*/  /* Full screen width */
    /*margin: 0; 
    padding: 0; 
    background: linear-gradient(to bottom, rgba(255, 255, 255, 1), rgba(240, 230, 250, 1));
    display: flex; 
    justify-content: center;*/ /* Center horizontally */
    /*align-items: center;*/ /* Center vertically */
    /*overflow: hidden;*/ /* Prevents unwanted scrolling */
/*}*/

/* Ensure proper spacing for smaller screens */
/*@media (max-width: 768px) {
    .Mainloginbox {
        flex-direction: column;*/ /* Stack elements on mobile */
        /*padding: 10px;
    }
}*/

.loginbox1 {
    background-color: #2c565f !important;
}

.loginbox2 {
    background-color: #2c565f !important;
    color: white;
}

.loginbox3 {
    background-color: #2c565f !important;
}

.loginbox4 {
    background-color: #2c565f !important;
}

.loginbox5 {
    background-color: #2c565f !important;
}

.loginbox6 {
    background-color: #2c565f !important;
}

.loginbox7 {
    background-color: #4682b4 !important;
    color: white;
}

.loginbox8 {
    /*border: solid 1px #4682b4 !important;*/
    background-color: #2c565f !important;
}

.loginbox9 {
    background-color: #2c565f !important;
}

.loginbox10 {
    background-color: #2c565f !important;
}

.loginbox11 {
    background-color: #2c565f !important;
}

.loginbox12 {
    background-color: #4682b4 !important;
}

.loginbox13 {
    background-color: white !important;
}

.loginbox14 {
    background-color: #f6f4f5 !important;
}

.loginbox15 {
    background-color: white !important;
    color: #4682b4 !important;
    border-radius: 20px;
}

.loginbox16 {
    background-color: #2c565f !important;
    color: white !important;
    border: solid 1px #4682b4;
}

.loginbox17 {
    background-color: #00305a !important;
    color: white !important;
    border-radius: 20px;
}


.loginbox18 {
    background-color: white !important;
    color: #4682b4 !important;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.loginbox19 {
    background-color: #2c565f !important;
    color: white !important;
}

.loginbox20 {
    background-color: #2c565f !important;
}

.loginbox21 {
    background-color: #00305a
}
/*----------------------------------------------------*/


/*------------------text Colors---------------------*/
.DefaultTextColor {
    color: white !important;
}

.TextColor1 {
    color: white !important;
}

.TextColor2 {
    color: black !important;
}

.TextColor3 {
    color: white !important;
}

.TextColor4 {
    color: white !important;
}

.TextColor5 {
    color: white !important;
}

.TextColor6 {
    color: white !important;
}

.TextColor7 {
    color: white !important;
}

.TextColor8 {
    color: white !important;
}

.TextColor9 {
    color: white !important;
}

.TextColor10 {
    color: white !important;
}

.TextColor11 {
    color: #4682b4 !important;
}

.TextColor12 {
    color: white !important;
}

.TextColor13 {
    color: white !important;
}

.TextColor14 {
    color: white !important;
}

.TextColor15 {
    color: white !important;
}

.TextColor16 {
    color: white !important;
}

.TextColor17 {
    color: white !important;
}

.TextColor18 {
    color: blue !important;
}

.TextColor19 {
    color: white !important;
}

.TextColor20 {
    color: white !important;
}

.TextColor21 {
    color: white !important;
}

.TextColor22 {
    color: white !important;
}
.TextColor23 {
    color: white !important;
}

.TextColor24 {
    color: white !important;
}
/*----------------------------------------------------*/

/*------------------------Border Style-------------------*/
.Borderstyle1 {
    border: solid 1px #4682b4;
}

.Borderstyle2 {
    border: solid 1px #4682b4;
}

.DateTime-Picker-Border {
    border: solid 1px #4682b4;
    background-color: transparent;
}

.Borderstyle-left {
    border-left: solid 1px #4682b4;
}

.Borderstyle-right {
    border-right: solid 1px #4682b4;
}

.Borderstyle-top {
    border-top: solid 1px #4682b4;
}

.Borderstyle-bottom {
    border-bottom: solid 1px #4682b4;
}
/*----------------------------------------------------*/



.heigth100p {
    height: 100%;
}

.NewTras_roundOrange {
    padding: 5px 5px 5px 5px;
    background-color: transparent;
    text-align: center;
    border-radius: 25px;
    color: white;
    cursor: default;
    border: solid 1px #4682b4;
}

.navbar-default {
    /*background-color: #2c5f4f !important;*/
    background: linear-gradient(to right, #3f3d56, #4a4a6d, #6a6a84)!important;
    border-color: #2c5f4f !important;
}

.defaulCursor {
    cursor: default;
}


.memberImageContainer {
    width: 324px; /* or 70%, or what you want*/
    height: 203px; /* or 70%, or what you want*/
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../images/EcardTemplate.png');
}

.memberecard {
    width: 50px; /*or 70%, or what you want*/
    height: 50px; /*or 70%, or what you want*/
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(<%=_ECARD_WATERMARK1%>);
    /*background-image:url('../images/BR_28795_Watermark.jpg');*/
}

.memberButtonOptions {
    width: 60px; /* or 70%, or what you want*/
    height: 35px; /* or 70%, or what you want*/
    background-size: auto;
    background-position: center;
    background-repeat: no-repeat;
    float: left;
}

.memberPanelStyle {
    background-color: transparent;
    border-color: transparent;
}


.graydiv {
    color: white;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

.grayundeline {
    border-bottom: .5px solid lightgray;
    padding: 5px 5px 5px 5px;
}

.profileDiv {
    /*border-bottom-right-radius: 8px;
     border-bottom-left-radius: 8px;*/
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 10px 10px 10px 10px;
    /*border: 1px lightgray solid;*/
    /*border-color: #cfcbca;
    background-color: #cfcbca;*/
    /*min-height: 80px;*/
    overflow: hidden;
    cursor: pointer;
    background-color: #2c565f;
    padding: 0px 0px 20px 0px;
}

.profiletextboxstyle {
    border: none;
    height: 20px;
    width: 100%;
    background-color: #2c565f;
}

.graydiv_1 {
    color: #808080;
    padding: 5px 5px 5px 5px;
    font-weight: bold;
}

.grayundeline_1 {
    border-bottom: .5px solid lightgray;
    padding: 5px 5px 5px 5px;
    color: white
}


.profileDiv_1 {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 10px 10px 10px 10px;
    /*border: 1px lightgray solid;*/
    /*border-color: #cfcbca;
    background-color: #cfcbca;*/
    /*min-height: 80px;*/
    overflow: hidden;
    cursor: pointer;
    background-color: #2c565f;
    padding: 0px 0px 30px 0px;
}

.profiletextboxstyle_1 {
    border: none;
    height: 20px;
    width: 100%;
    background-color: #2c565f;
}

.profileDiv_subdiv_1 {
    border-bottom-right-radius: 22px;
    border-bottom-left-radius: 22px;
    border-top-right-radius: 22px;
    border-top-left-radius: 22px;
    margin: 20px 8px 10px 8px;
    border: 1px lightgray solid;
    /*border-color: #cfcbca;
    background-color: #cfcbca;*/
    /*min-height: 80px;*/
    overflow: hidden;
    cursor: pointer;
    background-color: #f6f4f5;
    padding: 15px 45px 20px 45px;
}

.profileDiv_subdiv_small_1 {
    border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
    border-top-right-radius: 20px;
    border-top-left-radius: 20px;
    margin: 28px 10px 10px 10px;
    border: 1px lightgray solid;
    /*border-color: #cfcbca;
    background-color: #cfcbca;*/
    /*min-height: 80px;*/
    overflow: hidden;
    cursor: pointer;
    background-color: #f6f4f5;
    padding: 10px 10px 10px 10px;
}

.profileDiv_subdiv_small1_1 {
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top-left-radius: 5px;
    margin: 23px 5px 5px 5px;
    border: 1px lightgray solid;
    overflow: hidden;
    cursor: pointer;
    background-color: #f6f4f5;
    padding: 5px 5px 5px 5px;
}


.headerStyle_PL {
    height: 40px;
    background-color: #e7e6e4;
    width: 100%;
    padding: 5px 5px 5px 5px;
    margin-top: 10px;
}

.transcationStyle_PL {
    padding: 5px 5px 5px 5px;
    background-color: white;
    text-align: center;
    border-radius: 25px;
    color: #58595b;
    background-color: #cfcbca;
    cursor: pointer;
}

.prescListStyle_PL {
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    border-top-right-radius: 8px;
    border-top-left-radius: 8px;
    margin: 5px 10px 5px 10px;
    border: 1px black solid;
    border-color: #4682b4;
    background-color: #2c565f;
    /*min-height: 80px;*/
    overflow: hidden;
    cursor: pointer;
    color: white;
    border: solid 1px #4682b4;
}

.listViewHeaderStyle_PL {
    padding: 5px 5px 5px 5px;
    background-color: #cfcbca;
}

.listViewContentStyle_PL {
    background-color: white;
    font-size: smaller;
    min-height: 50px;
    padding: 5px 5px 5px 5px;
    overflow: hidden;
}

.listViewframeStyle_PL {
    padding: 5px 5px 5px 5px;
    background-color: #cfcbca;
    text-align: center;
    border-radius: 20px;
    color: #58585a;
    cursor: default;
}

.listViewbuttonStyle_PL {
    color: #58585a;
    cursor: pointer;
}

.divFixedBotton_AC {
    margin: 5px 0px 0px 0px;
    border: none;
    /*min-height: 80px;*/
    cursor: pointer;
    position: fixed;
    bottom: 0px;
    width: 100%;
    left: 0px;
    text-align: center;
}

.divAtBottom-PH {
    position: absolute;
    bottom: 0px;
    width: 100%;
    align-items: center;
    align-content: center;
    left: 0px;
    right: 0px;
    text-align: center;
}

.Select-style {
    border: solid 1px #4682b4;
    background-color: #4682b4;
}

.Unelect-style {
    border: solid 1px #4682b4;
    background-color: #2c565f;
}

.Btn-Select-style {
    border: solid 1px #4682b4 !important;
    background-color: #4682b4 !important;
    color: white !important;
}

.Btn-UnSelect-style {
    border: solid 1px #4682b4 !important;
    background-color: #2c565f !important;
    color: white !important;
}


.blueButton {
    background-color: #2c565f;
    border: 1px solid #4682b4;
    padding: 10px 12px;
    color: white;
    margin-top: 11px;
}

.PrescriptionPatientDetailsTop {
    background-color: #2c565f !important;
    border-radius: 10px 10px 0px 0px !important;
    font-size: 14px !important;
    margin: 0px -10px 0px -10px !important;
    padding: 1px 0px 1px 0px !important;
    color: white;
}

.PrescriptionPatientDetailsBottom {
    background-color: #2c565f !important;
    border-radius: 0px 0px 10px 10px !important;
    font-size: 14px !important;
    margin: 0px -10px 0px -10px !important;
    padding: 6px 6px 6px 6px !important;
}


.GrayBackgroundText {
    background-color: #2c565f;
    text-align: center;
    border-radius: 15px;
    /*padding: 2px;*/
    color: white;
    border: solid 1px #4682b4;
}

.LightGrayBackground {
    background-color: #2c565f !important;
    border-radius: 10px 10px 10px 10px !important;
    font-size: 14px !important;
    margin: 4px -10px 4px -10px !important;
    padding: 5px 6px 7px 6px !important;
    border: solid 1px #4682b4;
    color: white;
}

.txtBoxClass {
    border-radius: 19px;
    border: none;
    height: 30px
}

.OrangeBackgroundText {
    background-color: #2c565f !important;
    text-align: center;
    border-radius: 15px;
    padding: 5px;
    color: white !important;
}


@media screen and (max-width: 767px) {
    .font90rem {
        font-size: 0.90rem !important;
    }

    .SaveButtnFnt {
        font-size: 1.5rem !important;
    }
}

@media screen and (max-width: 767px) {
    .new-font-size1 {
        font-size: 12px !important;
    }

    .new-font-size2 {
        font-size: 13px !important;
    }

    .new-font-size3 {
        font-size: 11px !important;
    }

    .new-font-size4 {
        font-size: 10px !important;
    }

    .new-font-size5 {
        font-size: 14px !important;
    }

    .new-font-size6 {
        font-size: 15px !important;
    }
}


.btn-round-lightgray {
    display: inline-block;
    padding: 2px 8px;
    margin-bottom: 0;
    font-size: 12px;
    font-weight: normal;
    line-height: 1.42857143;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -ms-touch-action: manipulation;
    touch-action: manipulation;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid #4682b4;
    border-radius: 19px;
    background-repeat: repeat-x;
    color: white;
    background-image: linear-gradient(to bottom, #2c565f 0%, #2c565f 100%);
}

.labelWrapStyle {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    position: absolute;
    max-width: 95%;
}

.labelWrapStyle1 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.Textbox-Theme {
    background-color: #2c565f !important;
    color: white !important;
}

.Textbox-Border1 {
    border-bottom: solid 1px #2c565f;
    border-top: solid 1px #2c565f;
    border-left: solid 1px #2c565f;
    border-right: solid 1px white;
    /*border: none !important;*/
}

.Textbox-Border2 {
    border-bottom: solid 1px #2c565f;
    border-top: solid 1px #2c565f;
    border-left: solid 1px white;
    border-right: solid 1px #2c565f;
    /*border: none !important;*/
}

.Textbox-Border3 {
    border-bottom: solid 1px #2c565f;
    border-top: solid 1px #2c565f;
    border-left: solid 1px white;
    border-right: solid 1px white;
    /*border: none !important;*/
}

.IL-Padding-0px {
    padding: 0px !important;
}

.IL-Padding1 {
    padding-bottom: 6px !important;
    padding-top: 6px !important;
}

.FullWidthButtom {
    width: 55%;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 5px;
}

.Submit-btn-style {
    width: 55%;
    border-radius: 20px;
    height: 40px;
    margin-bottom: 5px;
}

.text-Center {
    text-align: center;
}

.serviceratingSubmitbtn {
    padding-top: 4px;
    transform: translate(50%, 0%);
}


.hallfWidthButtom_darkgray {
    width: 100%;
    color: #FFFFFF;
    background-color: #a41c2b;
    border: none;
}

.hallfWidthButtom_orange {
    width: 100%;
    color: #FFFFFF;
    background-color: #4682b4;
    border: none;  
}

.locationIcon {
    height: 25px !important;
    width: 30px !important;
}

.loginbox {
    background: #0000006b;
}
.bg-success {
    background-color: #25b271 !important;
}

.full-screen-loader {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.7); /* Semi-transparent black background */
    z-index: 100000;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loader-content {
    text-align: center;
}

